<%- include('../common/head') -%>


<%= title %>
<%- nickname %>

<nav>
    <ul>
        <li><a href="admin/new">新建</a></li>
        <!-- <li><a href="/drafts">草稿</a></li> -->
        <li><a href="admin/list">列表</a></li>
    </ul>
</nav>
<%- include('../common/footer') -%>