<%# '注释' %>
<%- include('../common/head') -%>

<form class="login-form" action="/login" method="post">
    <p>
        <label for="name">账号:</label>
        <input type="text" id="name" name="user">
    </p>
    <p>
        <label for="passwd">密码:</label>
        <input type="password" id="passwd" name="passwd">
    </p>
    
    <p>
        <button>登陆</button>
        <a href="/">首页</a>
    </p>
</form>

<%- include('../common/footer') -%>