body 
    padding-top: 40px

li 
    list-style: none
        
.fl
    float: left
 
.wrap 
    margin-left: 230px
    
.menu
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 220px    
    background: #343434
    color: #fff
    
    a
        color: #fff
.content
    background: #f0f0f0
        