*
  margin: 0
  padding: 0
  border: 0
  outline: 0
  vertical-align: baseline
  box-sizing: border-box

body
  line-height: 1
  color: #000
  background: #fff

ol,
ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0
  vertical-align: middle

th,
td
  text-align: left
  font-weight: normal
  vertical-align: middle

body
  margin: 0
  font-size: 14px

html,
body
  min-height: 100%

#main
     min-height: 80vh