li{
    list-style: non;
}
body{
    margin: 0;
    font-size: 14px;
}
html,body{
    height: 100%;
}
section.main{
    height: 100%;
}

footer{
    margin-top: -50px;
    padding: 3px;
    background: #555;
    color: #fff;
}
footer a{
    color: #fff;
}
footer a:hover{
    color: #eee;
}
footer .copyright {
    text-align: center;
}


.login-form{
    width: 300px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
}