<%- include('common/head') %> 
</head>
<body>

  <div id="wrap">

    <%# 侧边菜单 %>
    <%- include('common/sidebar') %>

    <div class="outer">
      <section id="main">


      </section>

        <section class="about">
            <h3>Angular + nodejs + express 驱动的一个博客</h3>
            <p>
                热爱前端工作，关注前端最新动态。
            </p>
            <p>
                可以通过 <a href="https://github.com/kunl">github</a> 或者 <a href="mailto:le720@outlook.com">le720@outlook.com</a> 联系我。
            </p>
        </section>
    </div>

     <%- include('common/footer') %>
    
  </div>
</body>

</html>