<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/admin.css">
    <base href="/admin">
</head>
<body>
    <app></app>

    <script src="../static/polyfills.js"></script>
    <script src="../static/vendor.js"></script>
    <script src="../static/admin.js"></script>
</body>
</html>