<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <app></app>

    <script src="../static/polyfills.js"></script>
    <script src="../static/vendor.js"></script>
    <script src="../static/blog.js"></script>
<script>
  var disqus_shortname = 'kunlin';
  
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//go.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

</body>
</html>