#sidebar
  padding: 20px 0 0
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 130px
  border-right: 1px solid #fff
  background: #262a30

#sidebar a
  text-decoration: none

#logo
  font-size: 28px
  padding-left: 20px

nav.sidebar-menu
  padding-top: 10px
  background-color: color-nav-background

nav.sidebar-menu .iconfont
  font-size: 24px
  transition: all 0.3s ease-out

nav.sidebar-menu .iconfont:hover
  color: #ff6e6e

nav.sidebar-menu li
  margin: 10px auto
  padding-bottom: 8px
  border-bottom: 1px solid transparent
  cursor: pointer

nav.sidebar-menu li a
  color: #fff
  -webkit-transition: border 0.4s
  -moz-transition: border 0.4s
  -ms-transition: border 0.4s
  transition: border 0.4s
  padding-left: 20px

nav.sidebar-menu li a.link
  display: block
