<aside id="sidebar">
    <div id="side-title" class="inner">
    <h1 id="logo-wrap">
        <a href="/" id="logo">kunl</a>
    </h1>
    </div>
    <nav class="sidebar-menu">
    <ul>
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/archives">Archives</a></li>
        <li><a class="link" href="/about">About</a></li>
        <li>
        <a href="https://twitter.com/le720" target="_blank"><i class="iconfont icon-twitter"></i></a>
        <a href="https://github.com/kunl" target="_blank"><i class="iconfont icon-github"></i></a>
        </li>
    </ul>
    </nav>
</aside>